/* @override 
	http://localhost:8080/Plone/++theme++plonetheme.amherst/css/layout.css
	http://64.18.217.181:8910/Plone/++theme++plonetheme.amherst/css/layout.css
	http://beta.amherstpediatrics.net/++theme++plonetheme.amherst/css/layout.css */



/** BASIC */

html, body {
	height: 100%;
}

.bg5 {
	padding: 20px 22px 35px 19px;
}

/** HEADER */

#header {
	width: 778px;
	height: 160px;
	margin: 0px auto;
}

#logo {
	float: left;
	width: 248px;
	height: 160px;
	background: url(../images/homepage02.jpg) no-repeat left top;
}

#logo img {
	float: right;
	position: relative;
	right: 10px;
}

#navmenu, #portal-megamenu {
	float: right;
	width: 530px;
	height: 160px;
  background: transparent;
}

#navmenu ul, #portal-megamenu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#navmenu li, #portal-megamenu li {
	display: inline;
  padding-top: 100px;
  padding-bottom: 20px;
}

#navmenu a, #portal-megamenu ul li a {
	display: block;
	float: left;
}

#portal-megamenu li.top-level a {
	padding: 0px;
	margin: 0;
}

#menu1, #portal-megamenu li#mm-tl-about-us { width: 129px; background: url(../images/homepage03.jpg) no-repeat left top; }
#menu2, #portal-megamenu li#mm-tl-for-parents { width: 130px; background: url(../images/homepage04.jpg) no-repeat left top; }
#menu3, #portal-megamenu li#mm-tl-for-kids { width: 126px; background: url(../images/homepage05.jpg) no-repeat left top; }
#menu4, #portal-megamenu li#mm-tl-for-teens { width: 145px; background: url(../images/homepage06.jpg) no-repeat left top; }

#portal-megamenu li a.menu-item {
  height: 41px;
  background: transparent;
  border-right: 0 solid white;
  min-width: 5em;
}


#portal-megamenu li.active a.menu-item {
  background: transparent;
  color: white;
}
#portal-megamenu li a.menu-item:hover {
      background: transparent;
    }
.arrowDownAlternative {
  display: none;
}
/** PAGE */

#page {
	width: 778px;
	margin: 0px auto;
}

.bg1 { background-position: 39px 0px; }
.bg2 { background-position: 39px 0px; }
.bg3 { background-position: 39px 100%; }

#main {
	float: right;
	width: 416px;
	padding: 35px 65px 0px 0px;
	background: url(../images/bg05.jpg) no-repeat right top;
}

#sidebar {
	float: left;
	width: 180px;
	padding: 0px 0px 0px 50px;
	background: url(../images/bg04.jpg) no-repeat left top;
	position: relative;
	bottom: 45px;
	
}

#sticker {
	float: left;
	width: 180px;
	padding: 0px 0px 0px 50px;
	position: relative;
	bottom: 45px;
	margin-bottom: 10px;
}

#sticker img {
	float:  left;
	right: 13px;
	position: relative;
}
/** BOX1 */

#box1 {
}

/** BOX2 */

#box2 {	
	float: left;
	width: 184px;
}

/** BOX3 */

#box3 {
	float: right;
	width: 184px;
}

/** BOX4 */

#box4 {
}

/** BOX5 */

#box5 {
}

/** FOOTER */

#footer {
	width: 778px;
	height: 97px;
	margin: 0px auto;
	padding-top: 25px;
}

/** typography **/

h1 {
	font: 2em chaloops-medium;
	color: #0466b1;
}
h2 {
	font: 2em swister-regular,sans-serif;
	
}

#portal-megamenu li.top-level a {
	font: 2em swister-regular,sans-serif;
	color: black;
	text-align: center;
}

.carousel-text {
	font: 2em swister-regular,sans-serif;
	color: white;
}
dt.portletHeader, dl.portlet dt a:link {
	font: 14px chaloops-medium,sans-serif;
	color: #755b28;
	padding: 5px;
	text-align: center;
}

div#sidebar dl.portlet {
	padding: 0;
	border: 1px solid #cebc82;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

dl.portlet dt.portletHeader {
padding-bottom: 0;
	background-color: #cebc82;
-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-style: none;
}

.carousel-pager-item,
.carousel-pager-button-prev,
.carousel-pager-button-next {
	font: 1em chaloops-medium,sans-serif;
	color: green;
}

.carousel-pager-item-active:link,
.carousel-pager-item-active:visited,
.carousel-pager-item-active .carousel-title {
    color: red;
}

#portal-megamenu .sub ul li a {
	padding: 0px 0 0px 0px;
	text-decoration: none;
	width: 85%;
	font-size: 1.5em;
	text-align: left;
	margin: 0;
}

#portal-megamenu .sub ul li a:hover {
	background-color: orange;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/** Mega Menu **/

#portal-megamenu li.top-level .subShadow {
	top: 47px;
	background: none; /* subShadow has 0.6 opacity when displayed */
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/* Add or change padding/margin move padding to re-place shadow box:
	 * - for right-bottom shadow add bottom padding and left margin
	 * - for left-bottom shadow add bottom padding and left negative margin
	 * - for left-right-bottom shadow, add bottom padding, left negative margin and double right padding
	 */
	padding: 0 0 2px 0; 
	margin: 0 0 0 2px;	
}

#portal-megamenu li.top-level .sub {
  top: 147px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 3px 10px #444;
  border-color: white;
  border-width: 2px;
}

/**Carousel**/
.carousel-text {
    background-color: rgba(0, 0, 0, 0.40);
    bottom: 0;
    left: 0;
    padding: 2%;
    position: absolute;
    width: 96%;
}

div.carousel-banners {
	border: 6px solid white;
	box-shadow: 0px 3px 8px #444;
}

div.carousel-pager {
	float: right;
}

.carousel-pager-item,
.carousel-pager-button-prev,
.carousel-pager-button-next {
    background-color: transparent;
    padding: 0.25em 0.5em;

}

/**portlet**/
dl.portlet dt {
	background-color: transparent;
	border-bottom: 1px solid white;
	padding: 0 0 5px;
}

dl.portlet{
	padding-right: 15px;
}

.template-folder_summary_view.portaltype-topic div#parent-fieldname-text {
	margin-bottom: 0px;
}

.template-folder_summary_view.portaltype-topic div.tileItem {
	border-bottom: 1px dotted silver;
	padding-top: 15px;
	padding-bottom: 10px;
}

.template-folder_summary_view.portaltype-topic div.tileItem h2, .template-folder_summary_view.portaltype-topic div.tileItem p.tileBody {
	margin: 0 !important;
	padding: 0;
	
}

dl.portlet dd.portletItem,
dl.portlet dd.portletFooter,
dl.portletError dd {
    padding: 5px 0;
	border-bottom: 1px dotted #cebc82;
	margin-right: 5px;
	margin-left: 5px;
}

dl.portletCollection span.portletItemDetails {
	font-size: 10px;
	letter-spacing: normal;
}

dl.portletCollection dd.portletItem a.tile, dl.portletCollection dd.portletFooter a{
	color: #755b28;
}

/* @group Typography */

hr {
	border-bottom: 1px solid gray;
	display: block;
}

#portal-megamenu li.top-level li.collage-item a {
	font: 1.5em swister-regular,sans-serif;
	color: black;
	text-align: left;
}

#portal-megamenu li.top-level li.collage-item p {
	margin-bottom: 6px;
	padding-left: 10px;
}

#portal-megamenu li.top-level li.collage-item h2 a {
	font: 1em swister-regular,sans-serif;
	color: #0C5CA3 !important;
	text-align: left;
	width: 100%;
	margin-bottom: 2px;
}

#portal-megamenu li.top-level li.collage-item h2 {
	margin-bottom: 4px;
}

.highlightedGlossaryTerm {
	cursor: help;
    z-index: 2;
	background-color: transparent;
	border-bottom: 1px dotted orange;
}

#content a:link,
dl.portlet a:link {
    color: #205c90;
    border-bottom: none;
}
/* @end */


.portletPopoll h5 {
  padding: 0 0 0.5em 0;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

dl.portletPopoll form label {
	padding-left: 5px;
	position: relative;
	display: inline-block;
	padding-bottom: 2px;
}

dl.portletPopoll form input.context {
	margin-top: 5px;
}

dl.portletPopoll li {
	font-size: 10px;
	line-height: 14px;
}
dl.portletPopoll li strong {
	color: green;
}

dl.portletPopoll li img {
	padding-right: 2px;
}